{{- with .context -}}

{{- $context := . -}}

{{- range site.Params.plugins_js -}}

{{- template "inject-js-maybe" (dict "script" . "context" $context) -}}

{{- end -}}

{{- end -}}

{{- define "inject-js-maybe" -}}

{{- $Config := .context.Scratch.Get "plugin-precision-injection" -}}
{{- $context := .context -}}

{{- with .script -}}

  {{- $script := . -}}
  
  {{- with (index $Config.Filters .) -}}
    
    {{- $path := (urls.Parse $context.Permalink).Path -}}
      
    {{- if (or (and (reflect.IsSlice .) (in . $path)) (eq $path .)) -}}
            
<script src="{{ $script }}"></script>
          
    {{- end -}}
    
  {{- else -}}
            
<script src="{{ $script }}"></script>

  {{- end -}}
  
{{- end -}}
  
{{- end -}}