{{- with .context -}}

{{- $context := . -}}

{{- range site.Params.plugins_css -}}

{{- template "inject-css-maybe" (dict "stylesheet" . "context" $context) -}}

{{- end -}}

{{- end -}}

{{- define "inject-css-maybe" -}}

{{- $Config := .context.Scratch.Get "plugin-precision-injection" -}}
{{- $context := .context -}}

{{- with .stylesheet -}}

  {{- $stylesheet := . -}}
  
  {{- with (index ($Config.Filters | default dict) .) -}}
    
    {{- $path := (urls.Parse $context.Permalink).Path -}}
      
    {{- if (or (and (reflect.IsSlice .) (in . $path)) (eq $path .)) -}}
            
<link rel="stylesheet" href="{{ $stylesheet }}" />
          
    {{- end -}}
    
  {{- else -}}
            
<link rel="stylesheet" href="{{ $stylesheet }}" />

  {{- end -}}
  
{{- end -}}

{{- end -}}