{{- /* 

This partial expects a dictionary as its parameter.

keys:

'prefix': Pass a prefix of the form 'I_AM_A_PREFIX' or, more simply
          'PREFIX' (the prefixes I personally use are currently HEAD_TOP,
          ABOVE_HEADER, BELOW_FOOTER, FOOTER) to inject only plugin HTML files
          whose include directive includes the prefix followed by a dot
          followed by the actual file name. Otherwise leave this `undefined` to
          inject all plugin HTML files without a prefix of the format specified
          above.

'location': A key in the config data file with a slice of files to inject.

            For example:
            
            [InjectionLocations]
            HEAD_TOP = [ "google-tag-manager-head-script.html" ]
            ABOVE_HEADER = [ "google-tag-manager-header-script.html" ]
            BELOW_HEADER = []
            FOOTER = []
            BELOW_FOOTER = []
            DEFAULT = [
              "glightbox-injection.html",
              "prism-injection.html",
              "favicons.html",
              "plausible-analytics-script.html",
              "structured-data-injection.html",
              "webmention-links.html",
              "category-cloud-style.html",
              "twitter-open-graph-cards.html",
              "head/social-media-links.html"
              ]

              If an empty string is passed the plugin will check for a default
              location set in the data file as DefaultLocation. Failing that
              the plugin will check for an entry under DEFAULT.
              
 'link': 'stylesheets' to load plugin CSS 
          or 'scripts' to load plugin javascripts

'context': The page context partials expect to receive (usually a '.').

*/}}

{{- if (and (reflect.IsMap .) .context) -}}

  {{- if (isset . "prefix") -}}
  
    {{- partial "plugin-precision-injection-prefixed.html" . -}}
    
  {{- else if (isset . "location") -}}
    
    {{- partial "plugin-precision-injection-location.html" . -}}
    
  {{- else if (isset . "link") -}}
  
    {{- if (eq .link "stylesheets") -}}
    
    {{- partial "plugin-precision-injection-stylesheets.html" . -}}
    
    {{- else if (eq .link "scripts") -}}
    
    {{- partial "plugin-precision-injection-scripts.html" . -}}
    
    {{- end -}}
  
  {{- end -}}

{{- end -}}