{{/* 

Ths partial takes a single parameter as its input.

Pass a prefix of the form 'I_AM_A_PREFIX' or, more simply 'PREFIX' (the prefixes I personally use are currently HEAD_TOP, ABOVE_HEADER, BELOW_FOOTER, FOOTER) to inject only plugin HTML files whose include directive includes the prefix followed by a dot followed by the actual file name.

Pass nothing to inject all plugin HTML files without a prefix of the format specified above.

*/}}

{{ printf "<!--plugin-precision-injection v1.0.0-->" | safeHTML }}

{{/* Check whether a prefix has been provided  */}}
{{ with . }}

  {{ $prefix := . | findRE "^[A-Z_]+$" }}
  {{ if $prefix }}{{ $prefix = index $prefix 0 }}{{ end }}

  {{ if $prefix }}

    {{ $prefix := printf "%s." $prefix }}

    {{ range $include_directive := site.Params.plugins_html }}
  
      {{ if (hasPrefix $include_directive $prefix) }}
    
        {{ $include_file := $include_directive | strings.TrimPrefix $prefix }}
  
        {{- partial $include_file $ }}
  
      {{ end }}
  
     {{ end }}
     
   {{ end }}

{{/* Otherwise, inject all non-prefixed plugin HTML files */}}   
{{ else }}

  {{ range $include_directive := site.Params.plugins_html }}
  
    {{ $prefix := $include_directive | findRE "^[A-Z_]+[.].*" }}
    
    {{ if not $prefix }}{{ partial $include_directive $ }}{{ end }}
  
  {{ end }}

{{ end }}