{{/* 

This partial expects a dictionary as its parameter.

keys:

'prefix': Pass a prefix of the form 'I_AM_A_PREFIX' or, more simply 'PREFIX' (the prefixes I personally use are currently HEAD_TOP, ABOVE_HEADER, BELOW_FOOTER, FOOTER) to inject only plugin HTML files whose include directive includes the prefix followed by a dot followed by the actual file name. Otherwise leave this `undefined` to inject all plugin HTML files without a prefix of the format specified above.

'context': The page context partials expect to receive (usually a '.').

*/}}

{{/* printf "<!--plugin-precision-injection v1.0.0-->" | safeHTML */}}

{{/* Capture the context */}}
{{ $context := .context }}

{{/* Check whether a prefix has been provided  */}}
{{ with .prefix }}

  {{ $prefix := . | findRE "^[A-Z_]+$" }}
  {{ if $prefix }}{{ $prefix = index $prefix 0 }}{{ end }}

  {{ if $prefix }}

    {{ $prefix := printf "%s." $prefix }}

    {{ range $include_directive := site.Params.plugins_html | uniq }}
  
      {{ if (hasPrefix $include_directive $prefix) }}
    
        {{ $include_file := $include_directive | strings.TrimPrefix $prefix }}
  
        {{- partial $include_file $context }}
  
      {{ end }}
  
     {{ end }}
     
   {{ end }}

{{/* Otherwise, inject all non-prefixed plugin HTML files */}}   
{{ else }}

  {{ range $include_directive := site.Params.plugins_html | uniq }}
  
    {{ $prefix := $include_directive | findRE "^[A-Z_]+[.].*" }}
    
    {{ if not $prefix }}{{ partial $include_directive $context }}{{ end }}
  
  {{ end }}

{{ end }}